In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv('Train.csv')
df.drop(df.iloc[:,:2], inplace = True, axis = 1)
df.drop(df.iloc[:,1:6], inplace = True, axis = 1)
df.drop(df.iloc[:,4:5], inplace = True, axis = 1)
df.drop(df.iloc[:,6:7], inplace = True, axis = 1)
df.head(5)

,Age,Time_of_service,Time_since_promotion,growth_rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,42.0,4.0,4,33,1,7.0,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,24.0,5.0,4,36,3,6.0,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,58.0,27.0,3,51,2,8.0,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,26.0,4.0,3,56,3,8.0,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,31.0,5.0,4,62,3,2.0,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [8]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
print(y)
print(x)
print(x.shape)

[0.1841 0.067  0.0851 ... 0.7847 0.4162 0.091 ]
[[42.  4.  4. ...  4.  5.  3.]
 [24.  5.  4. ...  3.  5.  3.]
 [58. 27.  3. ...  3.  8.  3.]
 ...
 [49. 10.  1. ...  4.  8.  3.]
 [47. 24.  1. ...  3.  6.  3.]
 [58. 22.  2. ...  4.  5.  3.]]
(7000, 14)

In [9]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.nan , strategy = 'mean')
imp = imp.fit(x)
x = imp.transform(x)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
td = pd.read_csv('Test.csv')
td.drop(td.iloc[:,:2], inplace = True, axis = 1)
td.drop(td.iloc[:,1:6], inplace = True, axis = 1)
td.drop(td.iloc[:,4:5], inplace = True, axis = 1)
td.drop(td.iloc[:,6:7], inplace = True, axis = 1)
td.head(5)

,Age,Time_of_service,Time_since_promotion,growth_rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,32.0,7.0,4,30,5,4.0,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,65.0,41.0,2,72,1,1.0,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,52.0,21.0,3,25,1,8.0,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,50.0,11.0,4,28,1,2.0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,44.0,12.0,4,47,3,2.0,4.0,4,1.6081,0.7075,2.0,2,7,4

In [12]:
x_test = td.iloc[:,:].values

impt = SimpleImputer(missing_values = np.nan , strategy = 'mean')
impt = impt.fit(x_test)
x_test = imp.transform(x_test)

print(x_test.shape)

(3000, 14)

In [13]:
y_pred = model.predict(x_test)
print(y_pred)

[0.19937402 0.19232201 0.17250025 ... 0.18310307 0.16852138 0.18951117]

In [14]:
my_submission = pd.DataFrame({'Attrition_rate': y_pred})
my_submission.to_csv('submission13.csv', index = False)

In [15]:
import xgboost as xgb

In [43]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.15,
                max_depth = 10, alpha = 10, n_estimators = 100)

In [44]:
xg_reg.fit(x,y)

preds = xg_reg.predict(x_test)

[15:40:31] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [45]:
print(preds)

[0.29374367 0.3315059  0.1641792  ... 0.13292924 0.19078529 0.17083627]